<li>
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <span class="post-meta">{{ include.post.date | date: date_format }}
  {%- if include.post.author %} •
    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ include.post.author }}</span></span>
  {%- endif -%}

  </span>
  <h3>
    <a class="post-link" href="{{ include.post.url | relative_url }}">
      {{ include.post.title | escape }}
    </a>
  </h3>
  {{ include.post.excerpt }}
  {%- if post.gallery -%}
    <div id="image-gallery" class="image-gallery">
      <div id="gallery-sizer" class="gallery-sizer"></div>
      {% assign gallery = site.data.galleries[post.gallery] %}
      {% assign picture = gallery.pictures[0] %}
      <div class="image-wrapper">
        <a href="/assets/{{ gallery.picture_path }}/{{ picture.original }}"
        data-responsive="{% for size in picture.sizes %} /assets/{{ gallery.picture_path }}/{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}" class="image"
        {% if picture.title %} data-sub-html="<div class='lg-toolbar caption'><h4>{{ picture.title | escape }}</h4>{% if picture.caption %}<p>{{ picture.caption | escape }}</p>{% endif %}</div>"{% endif %}>
          <img alt="{{ picture.title }}" src="/assets/{{ gallery.picture_path }}/{{ picture.thumbnail }}" />
        </a>
      </div>
    </div>
    <a href="{{ include.post.url | relative_url }}">[Gallery with {{ gallery.pictures.size }} photos]</a>
  {%- else -%}
    <a href="{{ include.post.url | relative_url }}">[More]</a>
  {%- endif -%}
</li>

